name: Deploy
on:
  workflow_call:
    inputs:
      org-alias:
        required: false
        type: string
        default: 'sandbox'
      datadog:
        required: false
        type: boolean
        default: false
      newrelic:
        required: false
        type: boolean
        default: false
    secrets:
      DEVHUB_SFDX_AUTH_URL:
        required: true
      ENV_SFDX_AUTH_URL:
        required: true
      DATADOG_HOST:
        required: false
      DATADOG_API_KEY:
        required: false
      NEWRELIC_INSIGHT_INSERT_KEYS:
        required: false
          
env:
  SFPOWERSCRIPTS_NEWRELIC: "${{ inputs.newrelic }}"
  SFPOWERSCRIPTS_NEWRELIC_API_KEY: '${{ secrets.NEWRELIC_INSIGHT_INSERT_KEYS }}'
  SFPOWERSCRIPTS_DATADOG: "${{ inputs.datadog }}"
  SFPOWERSCRIPTS_DATADOG_HOST: "${{ secrets.DATADOG_HOST }}"
  SFPOWERSCRIPTS_DATADOG_API_KEY: "${{ secrets.DATADOG_API_KEY }}"

jobs:
  deploy:
    name: 'Deploy to ${{ inputs.org-alias }} environment'
    runs-on: ubuntu-latest
    container: ghcr.io/flxbl-io/sfp-rc:alpha
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@v2
        with:
          name: quickbuild-artifacts
          path: artifacts 

      - name: 'Authenticate Dev Hub'
        run: |
          echo "${{ secrets.DEVHUB_SFDX_AUTH_URL }}" > ./authfile
         sf org login sfdx-url -f authfile -a devhub

      - name: 'Authenticate to ${{ inputs.org-alias }}'
        run: |
          echo "${{ secrets.ENV_SFDX_AUTH_URL }}" > ./env_authfile
         sf org login sfdx-url -f ./env_authfile -a ${{ inputs.org-alias }}

      - name: 'Deploy to ${{ inputs.org-alias }}'
        run: |
          sfp dependency install -u ${{ inputs.org-alias }} -v devhub
          sfp deploy -u ${{ inputs.org-alias }}  --skipifalreadyinstalled -g "::group::,::endgroup::" 