name: "Refresh Salesforce Sandbox"

on:
  repository_dispatch:
    types: [external-trigger-sandbox-refresh]

  workflow_call:
    inputs:
      sandbox_name:
        description: "Sandbox Name"
        required: true
        type: string
      definition_file:
        description: "Path to definition file"
        required: true
        type: string
    secrets:
      DEVHUB_SFDX_AUTH_URL:
        description: "Devhub auth url"
        required: true

jobs:
  create-sandbox:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flxbl-io/sfp:latest

    steps:
      - uses: actions/checkout@v3
        with: 
          ref: ${{ inputs.git-ref }}
          fetch-depth: 0
      
      - name: Set Variables
        id: set-vars
        shell: pwsh
        run: |
          if("${{ github.event_name }}" -eq "workflow_call"){
            $sandboxName = "${{ inputs.sandbox_name }}"
            $definitionFile = "${{ inputs.definition_file }}"
          }
          else if("${{ github.event_name }}" -eq "repository_dispatch"){
            $sandboxName = "${{ github.event.client_payload.sandbox_name}}"
            $definitionFile = "${{ github.event.client_payload.definition_file}}"
          }
          Write-Output "sandboxName = $sandboxName" | Out-File -FilePath $env:GITHUB_OUTPUT -Append
          Write-Output "definitionFile = $definitionFile" | Out-File -FilePath $env:GITHUB_OUTPUT -Append


      - name: 'Authenticate Dev Hub'
        run: |
          echo "${{ secrets.DEVHUB_SFDX_AUTH_URL }}" > ./authfile
          sf org login sfdx-url -f authfile -a devhub

      - name: Refresh Salesforce Sandbox
        run: |
          sf org refresh sandbox -f ${{ steps.set-vars.outputs.definitionFile }} \
          --name ${{ steps.set-vars.outputs.sandboxName}} --target-org devhub --no-prompt --async